@model TDA.Models.ActualTask
@{
    ViewData["Title"] = "DeleteTask";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <style>
        body {
            font-family: Arial;
        }

        form {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .button {
            background-color: lightskyblue;
            border: none;
            color: white;
            padding: 12px 24px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 20px;
        }

        dl {
            display: inline-block;
            text-align: left;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin: 0 0 10px 0;
        }
    </style>
</head>
<body>
    <h2>Подтвердите удаление</h2>
    <div class="form-group">
        <dl class="dl-horizontal">
            <dt>Название</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>
            <dt>Задача</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>
        </dl>
        <form asp-controller="Development" asp-action="DeleteTask" method="post">
            @Html.AntiForgeryToken()
            <input type="submit" class="button" value="Удалить" />
        </form>
    </div>
</body>
</html>
